
  <header class="mdl-layout__header is-casting-shadow">
    <div aria-expanded="false" role="button" tabindex="0" class="mdl-layout__drawer-button">
      <i class="material-icons"></i>
    </div>
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">$site.title$</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
      </nav>

      <div class="mdl-layout-spacer"></div>
      
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable is-upgraded">
        <label class="mdl-button mdl-js-button mdl-button--icon" for="js-search__input">
          <i class="material-icons">search</i>
        </label>

        <div class="mdl-textfield__expandable-holder" >
          <input class="mdl-textfield__input super-search__input" type="text" id="js-search__input" />
        </div>
      </div>

      <button class="mdl-button mdl-js-button mdl-button--icon" id="menu-lower-left">
        <i class="material-icons">more_vert</i>
      </button>

      <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="menu-lower-left">
        <li><a href="archive.html" class="mdl-menu__item">archive</a></li>
        <li><a href="about.html" class="mdl-menu__item">about</a></li>
        <li><a href="contact.html" class="mdl-menu__item">contact</a></li>
        <li><a href="tagCloud.html" class="mdl-menu__item">tagCloud</a></li>
      </ul>
    </div>
  </header>
  <div class="mdl-layout__drawer" aria-hidden="true">
    <span class="mdl-layout-title">Title</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
    </nav>
  </div>
