<!DOCTYPE html>
<html lang="en">
$partial("templates/themes/minimal-mistakes/parts/_head.html")$
<body class="layout--archive">
$partial("templates/themes/minimal-mistakes/parts/_topbar.html")$
<div class="initial-content">
  <main id="main" role="main">
    <div class="archive">
      $for(posts)$
        $partial("templates/themes/minimal-mistakes/parts/_post-list.html")$
      $endfor$
    </div>
    $partial("templates/themes/minimal-mistakes/parts/_pager.html")$
  </main>
</div>
$partial("templates/themes/minimal-mistakes/parts/_footer.html")$
$partial("templates/themes/minimal-mistakes/parts/_yandex-metrika.html")$
$partial("templates/themes/minimal-mistakes/parts/_disqus-list.html")$
$partial("templates/themes/minimal-mistakes/parts/_scripts.html")$
</body>
</html>
