<!DOCTYPE html>
<html lang="en">
$partial("templates/themes/minimal-mistakes/parts/_head.html")$
<body class="layout--single">
$partial("templates/themes/minimal-mistakes/parts/_topbar.html")$
<div class="initial-content">
  <main id="main" role="main" class="page">
    <div class="page__inner-wrap">
      $body$
    </div>
  </main>
</div>
$partial("templates/themes/minimal-mistakes/parts/_footer.html")$
$partial("templates/themes/minimal-mistakes/parts/_yandex-metrika.html")$
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="/assets/js/visited-map.js"></script>
</body>
</html>
