<!DOCTYPE html>
<html lang="en">
$partial("templates/themes/minimal-mistakes/parts/_head.html")$
<body class="layout--archive">
$partial("templates/themes/minimal-mistakes/parts/_topbar.html")$
<div class="initial-content">
  <main id="main" role="main">
    <div class="archive">
      <section class="archive__intro">
        <h1>태그</h1>
        <p>전체 태그 목록을 보여줍니다.</p>
      </section>
      $body$
    </div>
  </main>
</div>
$partial("templates/themes/minimal-mistakes/parts/_footer.html")$
$partial("templates/themes/minimal-mistakes/parts/_yandex-metrika.html")$
$partial("templates/themes/minimal-mistakes/parts/_scripts.html")$
</body>
</html>
