.bmad/
.codex/
.stack-work/
.cabal-sandbox


_site
_cache
_temp
comments
node_modules
package-lock.json
stack.yaml.lock
dist
log/*.log
server
site
site.hi
site.o

/.idea
/less/*.css
/dart/pubspec.lock
/dart/packages
/dart/benchmark/packages
/dart/web/packages
/map/countries.json
/map/regions.json
/map/subunits.json
