// Body
body {
  padding-top: 70px;

  &.index-page {
    padding-top: 60px;
  }
}

// Overwriting theme
h1, h2, h3, h4, h5, h6 {
  text-transform: none;
}

.navbar {
  text-transform: none;
  min-height: 60px;

  &-nav > li > a {
    margin: 7px 6px;
  }

  .navbar-toggle-button {
    margin-top: 13px;
    margin-bottom: 13px;
  }

  .navbar-collapse {
    border-top-width: 0;
  }

  .navbar-nav.navbar-right {
    padding-right: 0;
  }
}

.navbar-brand {
  padding-top: 15px;
  line-height: 27px;
}

.btn {
  font-family: @headings-font-family;
  text-transform: none;
}

// Yandex.Browser changes

@media (ya-title-fade: true) {
  body {
    padding-top: 100px;

    &.index-page {
      padding-top: 90px;
    }
  }

  .navbar > .container {
    margin-top: 30px;
  }
}

@media (ya-dock-fade: true) {
  body > .container {
    margin-bottom: 30px;
  }
}

// Tags
.tags-wrapper {
  .weight-1 {
    font-size: 85%;
  }

  .weight-2 {
    font-size: 100%;
  }

  .weight-3 {
    font-size: 125%;
  }

  .weight-4 {
    font-size: 150%;
  }

  .weight-5 {
    font-size: 175%;
  }

  .weight-6 {
    font-size: 200%;
  }
}

// Post
.post-body {
  & > p[id], & > div[id] {
    padding-top: @navbar-height + 10px;
    margin-top: -@navbar-height - 10px;
  }
  .figure {
    .text-center();

    .figure-inner {
      .thumbnail();
      display: inline-block;

      .figure-description {
        margin: 6px 0;
      }
    }

  }
}

.panel-default .panel-footer {
  background-color: @panel-footer-bg;
  font-family: @headings-font-family;
  font-weight: normal;
}

// Archive
.archive-day {
  display: inline-block;
  width: 64px;
  height: 54px;
  line-height: 54px;
  text-align: center;
  font-size: 32px;
  color: @gray-lighter;
  border-radius: 4px;
  #gradient > .vertical(#808080, #b5b5b5);
}

// Code
code.sourceCode.highlighted {
  white-space: normal;

  .line {
    display: block;
    white-space: pre;
    white-space: pre-wrap;
  }

  .line:hover {
    background: #073642;
  }
}

// Jumbotron
.jumbotron, .jumbotron-folded {
  background: #f7f7f7 url(/images/bg.jpg) center center no-repeat;
  background-size: cover;
  border-bottom: 1px solid #ddd;

  color: #b3b3b3;

  a {
    color: #b3b3b3;
    text-decoration: underline;

    &:hover {
      color: #ffffff;
    }
  }
}

.jumbotron-folded {
  color: @jumbotron-color;
  background-color: @jumbotron-bg;
  margin-bottom: @jumbotron-padding;
}

// Collections

.related-posts {
  padding: 15px;

  .collection-name {
    font-weight: bold;
  }

  .collection-container {
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .collection {
    height: 180px;
    white-space: nowrap;
    margin: 2px -2px;
  }

  .cover {
    width: 320px;
    display: inline-block;
    padding: 0;
    position: relative;
    margin: 0 2px;

    img {
      border-radius: 4px;
      border-color: #ddd;
    }

    .title-background {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(51,51,51,.8);
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px;

      color: #b3b3b3;
      white-space: normal;
      padding: 5px 10px;

      -webkit-transition: color,background-color 0.3s;
      -moz-transition: color,background-color 0.3s;
      -o-transition: color,background-color 0.3s;
      transition: color,background-color 0.3s;

      &:hover, &:focus {
        color: #fff;
        background-color: rgba(51,51,51,1);
      }
    }

    .cover-image:hover, .cover-image:focus {
      & + .title-background {
        color: #fff;
        background-color: rgba(51,51,51,1);
        text-decoration: underline;
      }
    }
  }
}

// Social buttons

.btn-facebook {
  .button-variant(#fff; #324b8a; #4466a8);
}

.btn-foursquare {
  .button-variant(#fff; #2A8EBE; #3EB9EA);
}

.btn-github {
  .button-variant(#fff; #9B9B9B; #B4B4B4);
}

.btn-google-plus {
  .button-variant(#fff; #BC3D29; #DF4A32);
}

.btn-instagram {
  .button-variant(#fff; #38668D; #527FA3);
}

.btn-lastfm {
  .button-variant(#fff; #B70300; #DF1303);
}

.btn-linkedin {
  .button-variant(#fff; #1B698F; #439ABF);
}

.btn-rss {
  .button-variant(#fff; #e58900; #FF9900);
}

.btn-stack-overflow {
  .button-variant(#434343; #E0E0E0; #F8F8F8);
}

.btn-twitter {
  .button-variant(#fff; #0191ce; #01afdb);
}

.btn-vk {
  .button-variant(#fff; #5B7DA5; #44698F);
}

.btn-youtube {
  .button-variant(#fff; #932420; #CB322C);
}
