
//
// Main sass file, to import all styles
//

// @charset "utf-8";

/*
 <Variable name="bgcolor" description="Page Background Color"
     type="color" default="#444" value="#3f3f3f">
    <Variable name="textcolor" description="Text Color"
     type="color" default="#eed" value="#dcdccc">
    <Variable name="pagetitlecolor" description="Blog Title Color"
     type="color" default="#eed" value="#dcdccc">
    <Variable name="titlecolor" description="Post Title Color"
     type="color" default="#eb9" value="#dfaf8f">
    <Variable name="footercolor" description="Date and Footer Color"
     type="color" default="#8A8" value="#7f9f7f">
    <Variable name="linkcolor" description="Link Color"
     type="color" default="#9dd" value="#8cd0d3">
    <Variable name="visitedlinkcolor" description="Visited Link Color"
     type="color" default="#9ee" value="#93e0e3"> Used to be #969
    <Variable name="bordercolor" description="Border Color"
     type="color" default="#c99" value="#cc9393">
    <Variable name="bodyfont" description="Text Font"
     type="font" default="normal normal 80% Trebuchet MS, Verdana, Arial, Sans-serif"
     value="normal normal 80% Trebuchet MS, Verdana,Arial, Sans-serif">
    <Variable name="pagetitlefont" description="Blog Title Font"
     type="font"
     default="normal bold 150% Trebuchet MS, Verdana, Arial, Sans-serif"
     value="normal bold 150% Trebuchet MS, Verdana, Arial, Sans-serif">
    <Variable name="codefont" description="Code Example Font"
     type="font"
     default="normal normal 90% Monaco, Bitstream Vera Sans Mono, Lucida Sans Typewriter, monospace"
     value="normal normal 90% Monaco, Bitstream Vera Sans Mono, Lucida Sans Typewriter, monospace">
    <Variable name="startSide" description="Start side in blog language"
     type="automatic" default="left" value="left">
    <Variable name="endSide" description="End side in blog language"
     type="automatic" default="right" value="right">
*/

$spacing-unit:     30px;
$super-search:     rgba(0, 191, 255, 0.85);
$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

/// Mixin printing a linear-gradient
/// as well as a plain color fallback
/// and the `-webkit-` prefixed declaration
/// @access public
/// @param {Keyword | Angle} $direction - Linear gradient direction
/// @param {Arglist} $color-stops - List of color-stops composing the gradient
@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

body {
  background-size: cover;
  /* font:$bodyfont; */
  background-color: #2c3e50; // #3f3f3f;
  color: #dcdccc;

  a {
    &:link {
      text-decoration: none;
      color: #F0EFD0;
    }
    &:visited {
      text-decoration: none;
      color: #F0EFD0
    }
    &:hover {
      text-decoration: underline;
      color: #EFEFAF;
    }
    &:active {
      text-decoration: none;
      color: #F0EFD0
    }
  }
}

header.mdl-layout__header {
  color: #AACCFF;
  // background-color: #445f7a; // #505050;
  @include linear-gradient(#34495e, #445f7a);
}

span.mdl-layout-title {
  color: white;
}

div.left-drawer {
  background-color: #3b6691;
  nav {
    a {
      color: white !important;
      font-weight: bold;
      &:hover {
        text-decoration: underline;
        color: #3f3f3f;
      }
    }
  }
}

.post-view {
  background-color: #505050;
  padding: 0px 15px 0px 15px;

}

div.post-view-title {
  @extend .post-view;
  background-color:#616161;
  padding: 0px 10px 0px 10px;

}

div.post-view-header {
  @extend .post-view;
  text-align: right;
  padding: 20px 15px 0px 15px;
  div.info{
    // background-color:#808080;
    padding: 5px 5px 5px 5px;
  }
}

div.post-view-content {
  @extend .post-view;
  padding: 20px 15px 0px 15px;
  p {
    font-size: 17px;
  }
}

div.post-view-footer {
  @extend .post-view;
  padding: 20px 15px 0px 15px;
  p {
    font-size: 19px;
    text-align: right;
  }
}

div.tag-cloud {
  font-size: 120%;
  background-color: #7f9f7f;
  padding: 20px 25px 20px 25px;
}

.archive {
  background-color: #CAE682;
  // padding: 0px 15px 0px 15px;
  color: #808080;
}

div.archive-name {
  @extend .archive;
  background-color:#ACC1AC;
  padding: 0px 20px 0px 20px;

}

div.archive-row {
  @extend .archive;
  background-color:#616161;
  border-bottom-style: solid;
  border-bottom-color: #C0C0C0;
  border-bottom-width: thin;
}

div.archive-avatar {
  @extend .archive-row;
  // padding: 0px 10px 0px 10px;
  border-style: none;
}

div.archive-author {
  @extend .archive-row;
  // padding: 20px 15px 0px 15px;
  border-style: none;

}

div.archive-title {
  @extend .archive-row;
  border-style: none;
  a {
    font-size: 17px;
    h5 {
        margin: 5px 0 10px 0px;
    }
  }
}

div.page-nav {
  @extend div.archive-row;
  min-height: 30px;
  align-items: center;
  nav.pagination {
    margin-top: 4px;
  }
}

header#header #navigation a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}


.page-content {
  max-width: 960px;
}

footer.page-footer {
  background-color: #3a5e82;
  // padding: 0px 15px 0px 15px;
  align-items: right;
}

nav.waterfall-header-nav .mdl-navigation__link:last-of-type {
  padding-right: 0;
}

@import "highlight/tomorrow-night-eighties";

// Import partials from `sass_dir` (defaults to `_sass`)
/*
@import "sass/base",
        "sass/layout",
        "sass/syntax-highlighting",
        "sass/post",
        "sass/search";
*/
