/* Your styles go here */

@import "font-awesome/font-awesome";

body {
    color: rgba(238,190,109,0.75);
    text-shadow: rgba(238,190,109,0) 0 0 0px;
    background-color: #2d4d5d;
}

a {
    color: rgba(77,174,174,0.75);
    text-shadow: rgba(77,174,174,0) 0 0 0px;
    font-weight: bold;
    text-decoration: none;
}

/* hover nav-pill color */
.nav-pills > li > a:hover, .related_list > li > a:hover, .recent_list > li > a:hover, a:hover {
    color: rgba(238,190,109,0.75);
    border-color: #000000;
    background-color: transparent;
    text-decoration:none;
}

.thumbnail {
    border: 8px solid #ddd;
    background-color: #2d4d5d;
    // background-color: transparent;
    min-height: 220px;
}

a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
  border-color: rgba(238,190,109,0.75);
}

.thumbnail .caption {
  padding: 0px;
  color: rgba(238,190,109,0.75);
  font-weight: bold;
}

::selection {
    background: #f58d2e;
    color: white;
    text-shadow: none;
}

#filter-holder-a {
    background-image: url(/images/noise.png);
    background-repeat: repeat;
}

.filter-holder {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999;
    pointer-events: none;
}

#header {
    font-size: 24px;
    padding-top: 30px;
}

.box_shape {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.main {
    @extend .box_shape;
    background-color: rgba(0,0,0,0.1);
    border-radius: 10px;

    #featured {
        background-color: #c3c7bf;
        color: rgba(80,69,79,0.75);
        text-shadow: rgba(80,69,79,0) 0 0 0px;
        padding-top: 20px;
    }
}

.posts, .projects, .pictures {
    @extend .box_shape;
    background-color: rgba(0,0,0,0.1);
    border-radius: 10px;
}

#page.post, #page.project, #page.picture, #page.page {
    @extend .box_shape;
    background-color: #284453;
    color: rgba(77,174,174,0.75);
    text-shadow: rgba(77,174,174,0) 0 0 0px;
    border-radius: 10px;

    .main {
        background-color: #d0d3cd;
        min-height: 500px;
    }

    .content {
        color: rgba(80,69,79,0.75);
        text-shadow: rgba(80,69,79,0) 0 0 0px;
        font-size: 20px;
        font-weight: bold;
    }

    .caption {
        background-color: #4daeae;
        padding: 0.5em 0em 0.5em 0em;
        z-index: 5000;

        .title a {
            color: rgba(255,255,255,0.75);
            text-shadow: rgba(255,255,255,0) 0 0 0px;
        }
    }

}


#footer, footer {
    @extend .box_shape;
    display: block;
    margin: 0 5.55555%;
    padding: 1em 0;
    color: rgba(77,174,174,0.75);
    text-shadow: rgba(77,174,174,0) 0 0 0px;
    text-align: center;
}