<footer class="panel panel-default component-panel">
    <div class="panel-body post-body">
        &copy;
        <span itemprop='copyrightHolder' itemscope='itemscope' itemtype='http://schema.org/Person'>
    	     <span itemprop='name'>Young Gyu Park</span>
        </span>,
        <span itemprop='copyrightYear'>2013 — 2015</span>
        <br />
        My favorite concealer:
        <span itemprop='contributor' itemscope='itemscope' itemtype='http://schema.org/Person'>
    	     <span itemprop='name'>Sunju Lim</span>
        </span>
    </div>
</footer>
