<!DOCTYPE html>
<html>
$partial("templates/parts/_head.html")$
<body>
$partial("templates/parts/_topbar.html")$

<div class="container">
    <div class="pagination pagination-inverse text-center">
        <ul>
            $for(years)$
                $if(active)$
                    <li class="active"><a href="$href$">$year$</a></li>
                $else$
                    <li><a href="$href$">$year$</a></li>
                $endif$
            $endfor$
            <li><a href="/tags/">태그</a></li>
        </ul>
    </div>

    <div class="panel-group">

        <div class="panel panel-default post-container">
            <div class="panel-body post-body">
                $for(months)$
                <h1>$month$</h1>

                $posts$
                $endfor$
            </div>
        </div>
        $partial("templates/parts/_footer.html")$
    </div>
</div>
$partial("templates/parts/_yandex-metrika.html")$
$partial("templates/parts/_scripts.html")$
</body>
</html>
