<!DOCTYPE html>
<html>

  $partial("templates/partial/head.html")$

  <body>

    <div class="mdl-layout mdl-js-layout">

      <!-- Start Layout -->
      $if(site.header.type)$
          $partial("templates/partial/search_result.html")$
          $partial("templates/partial/header_waterfall.html")$
      $else$
          $partial("templates/partial/search_result.html")$
          $partial("templates/partial/header_fixed.html")$
      $endif$

      <main class="mdl-layout__content">
        <div class="page-content mdl-grid">
          <!-- Your content goes here -->
          $body$
        </div>
        
        $partial("templates/partial/mini_footer.html")$
      </main>
      <div class="mdl-layout__obfuscator"></div>
      <!-- /End Layout -->

    </div>
  </body>

</html>