<!DOCTYPE html>
<html>
$partial("templates/parts/_head.html")$
<body class="index-page">
$partial("templates/parts/_topbar.html")$

<div class="jumbotron">
    <div class="container">
        <button type="button" class="close close-jumbotron-button" aria-hidden="true">&times;</button>
        $body$
    </div>
</div>
<div class="jumbotron-folded" style="display: none;">
    <div class="container text-right">
        <a href="#" class="open-jumbotron-button">Самое интересное в блоге &raquo;</a>
    </div>
</div>
<div class="container">
    <div class="panel-group">
        $for(posts)$
            $partial("templates/parts/_post-list.html")$
        $endfor$
    </div>

    $partial("templates/parts/_pager.html")$

    $partial("templates/parts/_footer.html")$
</div>
$partial("templates/parts/_yandex-metrika.html")$
$partial("templates/parts/_disqus-list.html")$
$partial("templates/parts/_scripts-development.html")$
</body>
</html>
