<!DOCTYPE html>
<html>
$partial("templates/parts/_head.html")$
<body>
$partial("templates/parts/_topbar.html")$

<div class="container">
    <div class="panel-group">
        $for(posts)$
            $partial("templates/parts/_post-list.html")$
        $endfor$
    </div>

    $partial("templates/parts/_pager.html")$

    $partial("templates/parts/_footer.html")$
</div>
$partial("templates/parts/_yandex-metrika.html")$
$partial("templates/parts/_disqus-list.html")$
$partial("templates/parts/_scripts-development.html")$
</body>
</html>
