<!DOCTYPE html>
<html>
$partial("templates/parts/_head.html")$
<body>
$partial("templates/parts/_topbar.html")$

<div class="container">
    <div class="panel-group">
        $body$

        $partial("templates/parts/_footer.html")$
    </div>
</div>
$partial("templates/parts/_yandex-metrika.html")$
<script type="text/javascript" src="/js/d3/d3.js"></script>
<script type="text/javascript" src="/js/topojson/topojson.js"></script>
<script type="text/javascript" src="/js/polyhedron.js"></script>
<script type="application/dart" src="/dart/web/map.dart"></script>
<script type="text/javascript" src="/dart/packages/browser/dart.js"></script>
</body>
</html>
