<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Company Bio</h5>
        <p class="grey-text text-lighten-4">

        </p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Settings</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Connect</h5>
        <ul>
          <li><a class="white-text" href="#!">Link 1</a></li>
          <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://ygpark2.github.io">Young Gyu Park</a>
    </div>
  </div>
</footer>

<!--
<footer class="panel panel-default component-panel">
    <div class="panel-body post-body">
        &copy;
        <span itemprop='copyrightHolder' itemscope='itemscope' itemtype='http://schema.org/Person'>
    	     <span itemprop='name'>Young Gyu Park</span>
        </span>,
        <span itemprop='copyrightYear'>2013 — 2015</span>
        <br />
        My favorite concealer:
        <span itemprop='contributor' itemscope='itemscope' itemtype='http://schema.org/Person'>
    	     <span itemprop='name'>Sunju Lim</span>
        </span>
    </div>
</footer>
-->
